body {
    width:100vw;
    /*height:100vh;*/
    margin: 0px;
    padding: 0px;
}

p {
    font-family: 'Work Sans';
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    padding: 50px;
    background-color: white;
    margin:0px;
    padding:50px;
}

.header {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100vw;
    height: 20px;
    padding: 8px;
    padding-top: 12px;
    background-color: white;
    position:fixed;
    z-index: 2;
    box-shadow: rgba(0, 0, 0,.1) 0px 0px 8px 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.footer {
    position: absolute;
    bottom: 30px;
    width: 250px;
    height: 30px;
    left: 50%;
    padding-top: 10px;
    text-align: center;
    font-family: 'Work Sans';
    color:#5d3b66;
    font-weight: 400;
    letter-spacing: 1px;
    transform: translate(-50%);
    background-color:white;
    z-index: 3;
    box-shadow: rgba(0, 0, 0,.1) 0px 8px 30px -1px;
}

.footer::after {
    content: 'Try clicking the canvas!';
}

.header a {
    position:relative;
    top: -6px;
    margin-left:24px;
    cursor: pointer;
    -webkit-transition: color .1s; /* Safari */
    transition: color .1s;
}

.header i {
    cursor: pointer;
    -webkit-transition: color .1s; /* Safari */
    transition: color .1s;
}

.centered-parent {
    position: fixed;
    top:0px;
    left:0px;
    padding:20px;
    top: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;  /* Preferred icon size */
    display: inline-block;
    line-height: .9;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    margin-left: 18px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.lottie-container {
    flex-grow:1;
    max-width:500px;
    height:500px;
    background-color: rgb(255,255,255);
    margin: 0px;
    border: 1px solid rgba(240,240,240,1);
}

.reload::after { 
    content:'replay';
    font-family: 'Material Icons';
    color: rgba(180,180,180,1);
    font-size: 20px;
    float: right;
    right: 6px;
    top: 10px;
    width: 25px;
    height: 25px;
    position:relative;
    z-index: 0;
    transition: color .25s;
    cursor: pointer;
}

.reload:hover::after {
    color: #14ffc8;
}

.toggle::after { 
    content:'swap_horiz';
    font-family: 'Material Icons';
    font-size: 24px;
    color: rgba(180,180,180,1);
    float: left;
    left: 12px;
    top: 10px;
    width: 25px;
    height: 25px;
    position:relative;
    z-index: 0;
    transition: color .25s;
    cursor: pointer;
}

.toggle:hover::after {
    color: #ffcc21;
}

.toggle-enabled::after {
    color: #ffcc21;
    content:'swap_horiz';
    font-family: 'Material Icons';
    float: left;
    left: 12px;
    top: 10px;
    width: 25px;
    height: 25px;
    position:relative;
    z-index: 0;
    transition: color .25s;
    cursor: pointer;
}

.lottie-container:hover {
  border: 1px solid rgba(230,230,230,1);
}


/* Nav Styles */
#play {
    color: #ffcc21;
}

#pause {
    color: black;
}

#walk {
    color: #ffcc21;
}

#arc::after {
    content: 'arc';
}

#subway::after {
    content: 'subway';
}

#leaf::after {
    content: 'leaf';
}

#crowd::after {
    content: 'crowd';   
}

#walk::after {
    content: 'walk';   
}

#lottie::after {
    content: 'lottie';   
}